@import './theme.css';
@import './utilities.css';
@import 'https://cdn.jsdelivr.net/npm/@native-elements/core@1/native-elements.css';

html {
  transition: background-color 200ms;
}

body {
  margin: 0;
}

[data-whatintent='mouse'] a:focus,
[data-whatintent='mouse'] a:visited:focus {
  outline: none;
}

.turbolinks-progress-bar {
  height: 5px;
  top: 4px;
  left: 4px;
  right: 20px;
  border-radius: 5px;
  background-color: hsl(var(--accent));
}

[data-is-custom],
[data-is-custom]:hover,
[data-is-custom]:active {
  --ne-button-icon-size: 64px;
  --ne-button-icon-margin: 0;

  all: unset;
}

.Avatar {
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  overflow: hidden;
  transform: translateZ(0);

  & + * {
    margin-left: -16px;
    box-shadow: 0 0 0 6px var(--ne-global-background);
  }
}
