@import './theme.css';
@import './utilities.css';
@import './typography.css';
@import 'https://cdn.jsdelivr.net/npm/@native-elements/core@1/native-elements.css';

a[aria-current='page'],
a[aria-current='page']:hover {
  color: var(--ne-global-foreground);
}


[data-whatintent='mouse'] a:focus,
[data-whatintent='mouse'] a:visited:focus {
  outline: none;
}

.turbolinks-progress-bar {
  height: 5px;
  top: 4px;
  left: 4px;
  right: 20px;
  border-radius: 5px;
  background-color: var(--accent-color, #34F);
}
