:root {
  /* Color palette */
  --accent: 174deg 43% 65%;
  --accent-light: 175deg 31% 92%;
  --green: #C3E88D;
  --pink: #FF9CAC;
  --sky: #89DDFF;
  --orange: #F78C6C;
  --violet: #C792EA;
  --blue: #82AAFF;
  --default: #263238;
  --ocean: #0F111A;
  --palenight: #292D3E;
  --darker: #212121;
  --lighter: #484848;

  /* Native Elements theme */
  --ne-global-background: var(--default);
  --ne-global-foreground: hsl(var(--accent-light));
  --ne-body-font-family: 'Roboto', sans-serif;
  --ne-root-font-size: 100%;
  --ne-body-font-size: clamp(0.9rem, 2vw, 1.5rem);
  --ne-vertical-leading: 1.2em;
  --ne-selection-foreground: hsl(229, 27%, 8%);
  --ne-global-box-sizing: border-box;
  --ne-selection-background: hsl(var(--accent));
  --ne-outline-width: 2px;
  --ne-outline-color: hsl(var(--accent));
  --ne-basic-line-height: 1.5;
  --ne-headings-scale: 1.27;
  --ne-quote-font-size: 2rem;
  --ne-cite-foreground: hsl(var(--accent));
  --ne-cite-font-size: 1rem;
  --ne-cite-start-sign: '—';
  --ne-links-foreground: hsl(var(--accent));
  --ne-links-active-foreground: hsl(180, 32%, 92%);
  --ne-del-foreground: hsl(0, 0%, 34%);
  --ne-del-background: hsla(0, 0%, 0%, 0);
  --ne-ins-foreground: hsl(161, 100%, 39%);
  --ne-ins-background: hsla(140, 100%, 20%, 0.41);
  --ne-kbd-color: hsla(231, 33%, 96%, 0.48);
  --ne-kbd-border-radius: 4px;
  --ne-mark-foreground: hsl(20, 100%, 26%);
  --ne-mark-background: hsl(57, 100%, 60%);
  --ne-inline-code-border-radius: 2px;
  --ne-inline-code-background: hsla(0, 0%, 0%, 0.6);
  --ne-button-border: 0;
  --ne-button-hover-border: 0;
  --ne-button-active-border: 0;
  --ne-button-disabled-border: 0;
  --ne-button-background: hsl(var(--accent));
  --ne-button-hover-background: hsl(var(--accent));
  --ne-button-active-background: hsl(180, 32%, 92%);
  --ne-button-disabled-background: hsla(174, 42%, 65%, 0.16);
  --ne-button-foreground: hsl(229, 27%, 8%);
  --ne-button-hover-foreground: hsl(229, 27%, 8%);
  --ne-button-active-foreground: hsl(229, 27%, 8%);
  --ne-button-disabled-foreground: hsla(174, 42%, 65%, 0.15);
  --ne-button-icon-size: 0.9em;
  --ne-button-icon-margin: 0.8em;
  --ne-button-border-radius: 8px;
  --ne-button-font-size: 1rem;
  --ne-button-y-padding: 1em;
  --ne-button-x-padding: 1.5em;
  --ne-button-line-height: 1;
  --ne-button-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  --ne-checkradio-border: none;
  --ne-checkradio-background: hsl(233, 34%, 92%);
  --ne-checkradio-color: hsl(var(--accent));
  --ne-checkradio-tick-color: hsl(0, 0%, 100%);
  --ne-checkradio-size: 22px;
  --ne-checkradio-border-radius: 4px;
  --ne-checkradio-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  --ne-code-border: 1px solid hsl(0, 0%, 89%);
  --ne-code-background: transparent;
  --ne-code-foreground: hsl(220, 10%, 50%);
  --ne-code-font-size: 0.875rem;
  --ne-code-tab-size: 1.5rem;
  --ne-code-font-family: 'SF Mono', Monaco, Inconsolata, 'Fira Mono', 'Droid Sans Mono', 'Source Code Pro', monospace;
  --ne-code-border-radius: 5px;
  --ne-code-y-padding: 1.25rem;
  --ne-code-x-padding: 1.5rem;
  --ne-color-border: 0;
  --ne-color-border-radius: 100%;
  --ne-color-width: 24px;
  --ne-color-height: 24px;
  --ne-details-border: 2px solid hsl(213, 26%, 92%);
  --ne-details-separator-border: 0;
  --ne-details-background: hsl(0, 0%, 100%);
  --ne-details-overflow: auto;
  --ne-details-summary-background: hsl(0, 0%, 100%);
  --ne-details-summary-foreground: inherit;
  --ne-details-summary-font-size: initial;
  --ne-details-summary-open-color: hsl(var(--accent));
  --ne-details-max-height: 300px;
  --ne-details-icon: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path d="M10.293 3.293L6 7.586 1.707 3.293A1 1 0 00.293 4.707l5 5a1 1 0 001.414 0l5-5a1 1 0 10-1.414-1.414z" fill="currentColor"/></svg>');
  --ne-details-icon-size: 0.75rem;
  --ne-details-border-radius: 10px;
  --ne-details-summary-padding: 1rem;
  --ne-details-summary-position: sticky;
  --ne-dialog-border: 0;
  --ne-dialog-background: hsl(0, 0%, 100%);
  --ne-dialog-border-radius: 5px;
  --ne-dialog-y-padding: 2rem;
  --ne-dialog-x-padding: 2rem;
  --ne-dialog-shadow: 0 19px 38px 0 rgba(0, 0, 0, 0.16);
  --ne-dialog-max-width: 40rem;
  --ne-dialog-backdrop-color: rgba(0, 0, 0, 0.3);
  --ne-hr-background: hsl(233, 34%, 92%);
  --ne-hr-height: 2px;
  --ne-hr-y-margin: 50px;
  --ne-meter-border-width: 1px;
  --ne-meter-border-color: transparent;
  --ne-meter-background: hsl(233, 34%, 92%);
  --ne-meter-border-radius: 5px;
  --ne-meter-height: 8px;
  --ne-meter-strong-color: hsl(148, 78%, 52%);
  --ne-meter-good-color: hsl(41, 100%, 60%);
  --ne-meter-weak-color: hsl(354, 100%, 65%);
  --ne-progress-shadow: none;
  --ne-progress-background: hsl(233, 34%, 92%);
  --ne-progress-filled-color: hsl(var(--accent));
  --ne-progress-height: 1rem;
  --ne-progress-border-radius: 1rem;
  --ne-range-background: hsl(233, 34%, 92%);
  --ne-range-disabled-background: hsl(233, 34%, 92%);
  --ne-range-progress-color: hsl(0, 0%, 100%);
  --ne-range-disabled-progress-color: hsl(235, 100%, 98%);
  --ne-range-active-progress-color: hsl(0, 0%, 100%);
  --ne-range-thumb-background: hsl(var(--accent));
  --ne-range-thumb-active-background: hsl(var(--accent));
  --ne-range-thumb-disabled-background: hsl(232, 36%, 87%);
  --ne-range-thumb-width: 24px;
  --ne-range-thumb-height: 24px;
  --ne-range-thumb-radius: 100%;
  --ne-range-width: 100%;
  --ne-range-height: 24px;
  --ne-range-border-radius: 24px;
  --ne-select-border: 2px solid hsl(213, 26%, 92%);
  --ne-select-hover-border: 2px solid hsl(213, 26%, 92%);
  --ne-select-focus-border: 2px solid hsl(220, 100%, 50%);
  --ne-select-disabled-border: 2px solid hsl(235, 100%, 98%);
  --ne-select-background: hsl(0, 0%, 100%);
  --ne-select-hover-background: hsl(0, 0%, 100%);
  --ne-select-focus-background: hsl(0, 0%, 100%);
  --ne-select-disabled-background: hsl(235, 100%, 98%);
  --ne-select-option-checked-background: hsl(var(--accent));
  --ne-select-foreground: hsl(0, 0%, 13%);
  --ne-select-hover-foreground: hsl(0, 0%, 13%);
  --ne-select-focus-foreground: hsl(0, 0%, 13%);
  --ne-select-disabled-foreground: hsl(233, 14%, 72%);
  --ne-select-option-checked-foreground: hsl(0, 0%, 100%);
  --ne-select-border-radius: 10px;
  --ne-select-width: 100%;
  --ne-select-padding: 0.5em;
  --ne-select-icon: ;
  --ne-select-icon-size: 1.5rem;
  --ne-table-background: transparent;
  --ne-table-head-separator: 2px solid hsl(213, 26%, 92%);
  --ne-table-row-separator: 1px solid hsl(213, 26%, 92%);
  --ne-table-striped-background: transparent;
  --ne-table-cells-y-padding: 1rem;
  --ne-table-cells-x-padding: 1rem;
  --ne-textfield-border: 2px solid hsl(213, 26%, 92%);
  --ne-textfield-hover-border: 2px solid hsl(213, 26%, 92%);
  --ne-textfield-focus-border: 2px solid hsl(220, 100%, 50%);
  --ne-textfield-disabled-border: 2px solid hsl(235, 100%, 98%);
  --ne-textfield-readonly-border: 2px dashed hsl(213, 26%, 92%);
  --ne-textfield-readonly-focus-border: 2px dashed hsl(220, 100%, 50%);
  --ne-textfield-invalid-border-color: hsl(354, 100%, 65%);
  --ne-textfield-background: hsl(0, 0%, 100%);
  --ne-textfield-hover-background: hsl(0, 0%, 100%);
  --ne-textfield-focus-background: hsl(0, 0%, 100%);
  --ne-textfield-disabled-background: hsl(235, 100%, 98%);
  --ne-textfield-invalid-background: hsl(0, 0%, 100%);
  --ne-textfield-foreground: inherit;
  --ne-textfield-hover-foreground: inherit;
  --ne-textfield-focus-foreground: inherit;
  --ne-textfield-disabled-foreground: hsl(233, 24%, 72%);
  --ne-textfield-readonly-foreground: inherit;
  --ne-textfield-invalid-foreground: inherit;
  --ne-textfield-placeholder-foreground: hsl(233, 24%, 72%);
  --ne-textfield-hover-placeholder-foreground: hsl(233, 24%, 72%);
  --ne-textfield-focus-placeholder-foreground: hsl(233, 24%, 72%);
  --ne-textfield-disabled-placeholder-foreground: hsl(233, 34%, 80%);
  --ne-textfield-border-radius: 10px;
  --ne-textfield-width: 100%;
  --ne-textfield-min-height: 48px;
  --ne-textfield-y-padding: 0.5em;
  --ne-textfield-x-padding: 1em;
  --ne-textfield-selection-background: hsl(233, 64%, 90%);
  --ne-textfield-selection-foreground: hsl(0, 0%, 13%);
  --ne-textfield-resize-direction: vertical;
  --ne-textfield-font-weight: 700;
}
