{% extends 'layouts/base.njk' %}

{% block content %}
  <main tabindex="-1">
    <div style="--position:absolute; --transform:translateZ(0); --height:clamp(600px, 800px, 90vh); --inset:0; --z:-1; --bg-i:url('/images/bg.png'); --bg-s:cover; --bg-p:right bottom; --bg-r:no-repeat; --blend:color-dodge;"></div>
    {% include "header.njk" %}
    {{ content | safe }}
  </main>
{% endblock %}
