{% macro button(children, href, target = "_blank", rel="noopener noreferrer") %}
  {% if href %}
    <a href="{{ href }}" target="{{ target }}" rel="{{ rel }}" ne-button type="button">
      <b>{{ children | safe }}</b>
    </a>
  {% else %}
    <button type="button">
      <b>{{ children | safe }}</b>
    </button>
  {% endif %}
{% endmacro %}
