<div data-controller="contributors" style="--padding-sm:0 32px;">
  <div class="Avatars" data-target="contributors.avatars" style="--display:flex; --align-i:center;">
    {# <img style="--padding:4px; --obj-f:cover; --obj-p:center; --radius:100%; --overflow:hidden; --bg-c:var(--ne-global-background);" loading="lazy" src="https://uifaces.co/our-content/donated/1H_7AxP0.jpg" alt="" width="60" height="60" />
    <img style="--padding:4px; --obj-f:cover; --obj-p:center; --radius:100%; --overflow:hidden; --bg-c:var(--ne-global-background);" loading="lazy" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTkzNjE5MzY5M15BMl5BanBnXkFtZTgwMDI5ODMxODE@._V1_UY256_CR98,0,172,256_AL_.jpg" alt="" width="60" height="60" />
    <img style="--padding:4px; --obj-f:cover; --obj-p:center; --radius:100%; --overflow:hidden; --bg-c:var(--ne-global-background);" loading="lazy" src="https://images.unsplash.com/photo-1511485977113-f34c92461ad9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE3Nzg0fQ" alt="" width="60" height="60" /> #}
    <span style="-z:1; --border:4px solid var(--ne-global-background); --position:relative; --font-s:2.3rem; --width:58px; --height:58px; --bg-c:hsl(var(--accent)); --display:block; --radius:100%; --display:flex; --align-i:center; --justify-c:center; --color:var(--ne-global-background)"><b>+</b></span>
  </div>
  <h2 style="--margin-b:0; --font-s:3.5rem; --margin-t:8px">
    <span data-target="contributors.count">20</span>
    <span style="--color:var(--purple)">+</span>
    <span style="--font-s:1.125rem; --font-w:400; --display:block">contributors trust Material Theme</span>
  </h2>
</div>
