<div data-terminal style="--user-s:none; --padding:4px 10px 10px; --transition:background-color 50ms; --shadow:0 0 0 1px hsl(100deg 0% 0% / 40%), 0 20px 30px hsl(100deg 0% 0% / 70%); --height:370px; --bg-c:var(--ne-global-background); --radius:10px; --border:1px solid hsl(100deg 0% 100% / 10%);">
  <div style="--display:flex; --align-i:center; --justify-c:flex-start; --margin-b:16px;">
    <div style="--display:inline-grid; --grid-template-c:repeat(3, auto); --grid-g:6px;">
      <span style="--radius:100%; --width:10px; --height:10px; --bg-c:#EC6A5E;"></span>
      <span style="--radius:100%; --width:10px; --height:10px; --bg-c:#F4BF4E;"></span>
      <span style="--radius:100%; --width:10px; --height:10px; --bg-c:#61C553;"></span>
    </div>
    <span style="--font-s:0.8rem; --margin-l:8px; --opacity:0.5;">⌥⌘1</span>
  </div>
  <span style="--color:var(--red);">🀫🀫🀫🀫🀫🀫🀫🀫</span>
  <span style="--color:var(--green);">🀫🀫🀫🀫🀫🀫🀫🀫</span>
  <span style="--color:var(--orange);">🀫🀫🀫🀫🀫🀫🀫🀫</span>
  <div style="--font-s:2rem;">∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙∙</div>
  <span style="--color:var(--blue);">🀫🀫🀫🀫🀫🀫🀫🀫</span>
  <span style="--color:var(--violet);">🀫🀫🀫🀫🀫🀫🀫🀫</span>
  <span style="--color:var(--sky);">🀫🀫🀫🀫🀫🀫🀫🀫</span>
  <p style="--font-s:0.8rem; --margin-t:24px;">
    <span style="--color:var(--green);"><b>＞</b> <span style="--color:var(--sky);">~</span></span>
  </p>
</div>
