<div style="--transition:background-color 50ms; --shadow:0 0 0 1px #000, 0 20px 30px hsl(100deg 0% 0% / 70%);  --height:min(370px, 40vh); --bg-c:var(--ne-global-background); --radius:16px; --border:1px solid hsl(100deg 0% 100% / 10%);">
  Terminal
</div>
