---
layout: home
title: Original colors, original taste.
---
{% from "container.njk" import Container %}

<section>
  {% call Container() -%}
      {% if title %}
        <h1 style="--ne-vertical-leading:16px; --text-a:center;">{{ title }}</h1>
      {% endif %}
      <p style="--text-a:center;">
      Available for
      <a href="https://github.com/material-theme/vsc-material-theme" rel="noopener" target="_blank" style="--ne-links-foreground:var(--green); --text-d:none;">VS Code</a>
      — <a href="https://github.com/chrisrm/material-theme-jetbrains" rel="noopener" target="_blank" style="--ne-links-foreground:var(--pink); --text-d:none;">JetBrains</a>
      — <a href="https://extensions.panic.com/extensions/materialtheme/materialtheme.mt/" rel="noopener" target="_blank" style="--ne-links-foreground:var(--sky); --text-d:none;">Nova</a>
      — <a href="https://gist.github.com/Revod/3f3115f8d4b90fc986fd4b61441c2567" rel="noopener" target="_blank" style="--ne-links-foreground:var(--orange); --text-d:none;">iTerm</a>
      — <a href="https://github.com/r3volution11/material-theme-bear-notes" rel="noopener" target="_blank" style="--ne-links-foreground:var(--violet); --text-d:none;">Bear Notes</a>
      and <a href="https://github.com/material-theme/vsc-material-theme#official-portings" target="_blank" rel="noopener noreferrer">many others</a>!</p>
  {%- endcall %}
  {% include "preview.njk" %}
  {% call Container() -%}
    <div style="--display:grid; --grid-template-c-md: 60% 40%; --padding:64px 0; --margin-t-md:-100px;">
      <div style="--padding-r-sm: 14ch; --padding-sm: 0 32px;">
        <p>
          With Material Theme your dev experience will get a boost and your eyes will be always grateful to you.
        </p>
        <p>
          Born originally for Sublime Text, it is now one of the most used dark themes, with many people working on it to bring this DX to other tools.
        </p>
      </div>
      <div style="--margin-t:40px; --margin-t-md:80px;">
        <h2 style="--color:hsl(var(--accent))">Features</h2>
      </div>
    </div>
  {%- endcall %}
</section>
